*.dSYM
*.so
*.o
*.pyc

elina_oct/elina_test_oct
elina_poly/elina_test_poly
zonoml/elina_test_zonoml
ocaml_interface/elina_poly.cmi
ocaml_interface/elina_poly.cmx
ocaml_interface/elina_poly.ml
ocaml_interface/elina_poly.mli
ocaml_interface/elina_poly_caml.c
ocaml_interface/tmp/

Makefile.config
/.vs
/gpupoly/.idea
/gpupoly/out/build
/python_interface/.idea
/gpupoly/out/install/x64-Debug
/python_interface/venv
